.Post{
    width: 300px;
    display:flex;
    flex-direction: column;
    align-items:center;
    margin:1rem;
    box-shadow:0 2px 7px #dfdfdf;
    background:#fafafa;

}

.Post-photo{
    width: 500px;
    height:500px;
    object-fit:cover;
    margin-bottom:5px;
}
.Post-name{
    font-size: 1.3rem;
    padding:5px;
    text-transform:uppercase;
}

.Post-breed{
    font-weight:bold;
}
.Post-breed, .Post-age{
    color:gray;
    padding:5px;
    font-size:0.9 rem;
    text-transform:uppercase;
}