.Post-page{
    padding: 10px;
}
Post-container{
    display: flex;
    flex-direction: row;
    flex-wrap:wrap;
}
Post-title{
    padding: 10px;
    text-transform:uppercase;
    letter-spacing:2px;
    border-bottom:1px solid #ddd;
}